<a href="/users/search">Search Again</a>

<div class="found">
  {{#if trainer}}
    <div id="map"></div>
    <h3>Search results by location</h3>
    {{#each trainer as |trainer|}}
      <ul>
        <li>
          <div class="nameclass">
            Trainer's name : {{trainer.name}}
          </div>
          <div class="mapclass">
            Trainer's location : <a href="#latlng">{{trainer.location}}</a>
          </div>
          <button class="addBttn" data-id="{{trainer.id}}" data-name="{{trainer.name}}" data-geometry="{{trainer.geometry}}">Hire this trainer</button>
        </li>
      </ul>
    {{/each}}
  {{/if}}
</div>
